input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 500px; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 50px;
  width: 25px;
  background-image: url(../../assets/needles.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  cursor: pointer;
  margin-top: -20px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 50px;
  width: 25px;
  background-color: transparent;
  background-image: url(../../assets/needles.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  height: 35px;
  width: 35px;
  background-color: transparent;
  background-image: url(../../assets/needles.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 500px;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #312A27;
  background: #645D5A;
  border-radius: 1.3px;
  border: 0.2px solid #312A27;
}

input[type=range]::-moz-range-track {
  width: 500px;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #312A27;
  background: #645D5A;
  border-radius: 1.3px;
  border: 0.2px solid #312A27;
}

input[type=range]::-ms-track {
  width: 500px;
  height: 8.4px;
  cursor: pointer;
  background: #645D5A;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}