// COLORS
$brand-color-strong: #ab453c;
$brand-color-neutral: #cac3c0;
$brand-color-accent-1: #eacbb8;
$brand-color-accent-2: #dff1ec;

// FONTS FAMILIES

$primary-font: 'Lato', Arial, sans-serif;
$heading-font: 'Playfair Display', Times, serif;
