@import '_setup';
@import '_custom-range';
@import '_var';

body{
	font-family: $primary-font;
	background-color: #cac3c0;
}

.wrapper{
	max-width: 1100px;
	margin: 0 auto;
}

header{
	width: 100%;
	height: 100vh;
	background-image: url('https://hd.unsplash.com/photo-1444594975920-e69885b357d5');
	background-size: cover;
	position: relative;

}

h1{
	font-size: 18px;
}

.headerContent{
	position: absolute;
	top: 50%;
	left: 30%;
	color: #ab453c;
	font-family: $heading-font;
	font-style: italic;
	font-weight: bold;
}

.headerContent svg{
	width: 70px;
}

main{
	position: relative;
}

main h2{
	text-align: center;
}

.user-location-container {
	display: flex;
	justify-content: center;
	align-items: center;
		form.user-location-form {
			input[type="text"] {
				border: none;
				height: 40px;
				padding: 10px;
				font-size: 18px;
			}
			input[type="submit"] {
				background-color: #ab453c;
				border: none;
				color: white;
				height: 40px;
				padding: 10px;
				font-size: 18px;
				margin: 0 10px 0 0;
				// width: 10%;
			}
		}
		.geolocation {
			text-align: center;
			// padding: 20px 0;
				button{
					display: inline-block;
					width: 300px;
					margin: 0 auto;
					border: none;
					background-color: #ab453c;
					height: 40px;
					margin: 0 0 0 10px;
						h3 {
							color: white;
							margin: 0;
						}
				}
		}
}


.loading-container {
	height: 100px;
	text-align: center;
	.loading{
		display: none;
	}
	img {
		width: 80px;
		height: 80px;
		position: relative;
		top: 12px;
	}
}

section.results{
	width: 100%;
	// display: none;
}

.price-range {
	text-align: center;
}

.etsyGallery{
	// display: flex;
	// flex-direction: row;
	// flex-wrap: wrap;
	// text-align: center;
	// justify-content: center;
	// background-color: #eacbb8;
}

.productItem{
	display: block;
	width: 255px;
	height: 203px;
	margin: 10px;
	font-size: 0;
	position: relative;
	border: 1px solid #a6a09d;
	border-radius: 0px 0px 0px 0px;
}

.pricetag{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 68px;
	height: 33px;
	color: #eacbb8;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}

.pricetag p{
	margin: 0;
	margin-bottom: 1px;
	
}

.pricebox{
	top: 9px;
	left: 5px;
	text-align: left;
	width: 36px;
	height: 20px;
	position: absolute;
	z-index: 1;
}



.pricetag img{
	transform: rotate(270deg);
	position: absolute;
	top: -10px;
	left: 7px;
	z-index: 0;
	// -webkit-box-shadow: 4px 4px 12px -5px rgba(0,0,0,0.75);
	// -moz-box-shadow: 4px 4px 12px -5px rgba(0,0,0,0.75);
	// box-shadow: 4px 4px 12px -5px rgba(0,0,0,0.75);
	opacity: 0.85;
}

.productItem img{
	width: 100%;
	font-size: 0;
}

.grid{
	position: relative;
}

// .grid-item { width: 100px; }
// .grid-item--width2 { width: 50%; }
