@import '_setup';
@import '_custom-range';

.wrapper{
	max-width: 1100px;
	margin: 0 auto;
}

header{
	width: 100%;
	height: 100vh;
	background-image: url('https://hd.unsplash.com/photo-1444594975920-e69885b357d5');
	background-size: cover;
	position: relative;
}

.headerContent{
	position: absolute;
	top: 50%;
	left: 30%;
	color: white;
	font-family: sans-serif;
}

.headerContent svg{
	width: 70px;
}

main{
	position: relative;
}

main h2{
	text-align: center;
}

main form{
	max-width: 600px;
	// background-color: grey;
	margin: 0 auto;
	text-align: center;
}

.geolocation {
	text-align: center;
	padding: 20px 0;
}

main button{
	display: inline-block;
	width: 300px;
	margin: 0 auto;
}

.loading-container {
	height: 100px;
	text-align: center;
	.loading{
		display: none;
	}	
}

section.results{
	width: 100%;
	// display: none;
}

.price-range {
	text-align: center;
}

.etsyGallery{
	// display: flex;
	// flex-direction: row;
	// flex-wrap: wrap;
	// text-align: center;
	// justify-content: center;
}

.productItem{
	display: block;
	width: 255px;
	height: 201px;
	margin: 10px;
	font-size: 0;
	position: relative;
}

.pricetag{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 60px;
	height: 33px;
	background-color: #dff1ec;
	color: #ab453c;
	font-size: 10px;
	text-align: center;
}

.productItem img{
	width: 100%;
	font-size: 0;
}

.grid{
	position: relative;
}

// .grid-item { width: 100px; }
// .grid-item--width2 { width: 50%; }
