@import '_setup.scss';

body {

}

.wrapper{
	max-width: 1100px;
	margin: 0 auto;
}

header{
	width: 100%;
	height: 100vh;
	background-image: url('https://hd.unsplash.com/photo-1444594975920-e69885b357d5');
	background-size: cover;
	position: relative;
}

.headerContent{
	position: absolute;
	top: 50%;
	left: 30%;
	color: white;
	font-family: sans-serif;
}

.headerContent svg{
	width: 70px;
}



main{
	position: relative;
}

main h2{
	text-align: center;
}

main form{
	max-width: 600px;
	// background-color: grey;
	margin: 0 auto;
	text-align: center;
}

main button{
	display: inline-block;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	margin-left: calc(50% - 150px);
	margin-top: 20px;
}

section.results{
	width: 100%;
}

section.results input{
	width: 100%;
}

.etsyGallery{
	// display: flex;
	// flex-direction: row;
	// flex-wrap: wrap;
	// text-align: center;
	// justify-content: center;
}

.productItem{
	width: 255px;
	margin: 10px;
	font-size: 0;
	position: relative;
	// justify-content: center;

}

.pricetag{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 60px;
	height: 33px;
	background-color: #dff1ec;
	color: #ab453c;
	font-size: 10px;
	text-align: center;
}

.productItem img{
	width: 100%;
	font-size: 0;

}

.grid{
	position: relative;
}

// .grid-item { width: 100px; }
// .grid-item--width2 { width: 50%; }